@import './variables.scss';


.board {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.timer {
    width:175px;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: $main-white;
    color: $main-red;
    font-weight: 600;
    font-size: 3em;
    border-top-left-radius: 25px;
}

.scoreBoard {
    width:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: $main-red;
    color: $main-white;
    font-weight: 600;
    font-size: 3em;
    border-bottom-right-radius: 25px;
}

.teamName {
    text-transform: uppercase;
    width:105px;
}